

<!DOCTYPE html>
<html lang="es">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>F1 API</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/f1_logo.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="/static/images/loading.gif" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="/static/images/f1_logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="index.html"> Inicio  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="diseño.html">Diseño</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="desarollo.html">Desarollo</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="planeacion.html">Planeacion</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row d_flex">
               <div class="col-md-12">
                  <div class="text-bg">
                     <figure><img src="/static/images/banner.jpg" alt="banner"/></figure>
                     <h1>Bienvenido al proyecto integrador</h1>
                     <strong>F1 Api: Gestiona Pilotos y Carreras</strong>
                     <span>Realizado con FastApi y HTML</span>
                     <p>
                        Administra de forma eficiente la base de datos de la Fórmula 1: crea, edita, y consulta pilotos y carreras, conectando con PostgreSQL en Clever Cloud.
                     </p>
                     <a href="pilotos.html">Pilotos</a>
                     <a href="carreras.html">Carreras</a>
                  </div>
               </div>
            </div>
         </div>
      </section>


      <div class="car">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>ALGUNOS EQUIPOS DE LA F1</h2>
                     <span>En la formula 1 existen 10 equipos, cada equipo con 2 pilotos. Algunos de los equipos mas famosos son: </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-sm">
                  <div class="car_box">
                     <figure><img src="/static/images/carro_ferrari.png" alt="#"/></figure>
                     <h3>Scuderia Ferrari</h3>
                  </div>
               </div>
               <div class="col-sm">
                  <div class="car_box">
                     <figure><img src="/static/images/carro_rb.png" alt="#"/></figure>
                     <h3>Red Bull Racing</h3>
                  </div>
               </div>
               <div class="col-sm">
                  <div class="car_box">
                     <figure><img src="/static/images/carro_mclaren.png" alt="#"/></figure>
                     <h3>McLaren F1 Team</h3>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- choose  section -->
      <div class="choose ">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Informacion de los equipos</h2>
                     <span>En el siguiente apartado encontraras una pequeña informacion sobre las escuderias <br> mas importantes de la formula 1 </span>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>01</span>
                     <h2>Scuderia Ferrari<br></h2>
                     <p>
                        Fundada en 1929 por Enzo Ferrari, la Scuderia Ferrari es el equipo más icónico y exitoso en la historia de la Fórmula 1. Ha participado en el campeonato mundial desde su inicio en 1950 y es el único equipo que ha competido en todas las temporadas.
                        <br><br>
                        Ferrari ha ganado un total de <strong>16 campeonatos de constructores</strong> y <strong>15 campeonatos de pilotos</strong>, contando con leyendas como Michael Schumacher, Niki Lauda, y Alberto Ascari entre sus filas.
                        <br><br>
                        Con sede en Maranello, Italia, el equipo es conocido por su pasión, tradición y sus característicos monoplazas rojos. A lo largo de las décadas, Ferrari ha sido sinónimo de excelencia en ingeniería, velocidad y legado automovilístico.
                     </p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>02</span>
                     <h2>Red Bull Racing<br></h2>
                     <p>
                        Red Bull Racing debutó en la Fórmula 1 en 2005 y rápidamente se consolidó como una potencia. Con sede en Milton Keynes, Reino Unido, el equipo es propiedad de la famosa marca de bebidas energéticas.
                        <br><br>
                        Bajo la dirección de Christian Horner y con el asesoramiento técnico de Adrian Newey, Red Bull ha logrado <strong>6 campeonatos de constructores</strong> y <strong>7 campeonatos de pilotos</strong> (4 con Sebastian Vettel y 3 con Max Verstappen, hasta 2024).
                        <br><br>
                        Con una imagen moderna y agresiva, Red Bull se destaca por su enfoque innovador, su rendimiento dominante en la era híbrida y por romper el dominio de escuderías históricas. </p>
                  </div>
               </div>
               <div class="col-md-12">
                  <div class="choose_box">
                     <span>03</span>
                     <h2>McLaren F1 Team<br></h2>
                     <p>
                        Fundado en 1963 por Bruce McLaren, el McLaren F1 Team es uno de los equipos más tradicionales y respetados del deporte. Tiene su sede en Woking, Reino Unido, y ha sido hogar de múltiples campeones legendarios como Ayrton Senna, Alain Prost y Lewis Hamilton.
                        <br><br>
                        McLaren ha ganado <strong>8 campeonatos de constructores</strong> y <strong>12 campeonatos de pilotos</strong>, destacándose en varias décadas como una fuerza competitiva.
                        <br><br>
                        Con un enfoque constante en la innovación tecnológica y el diseño aerodinámico, McLaren combina historia, competitividad y elegancia en cada temporada de la Fórmula 1. </p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end choose  section -->
      <!-- cutomer -->
      <div class="cutomer">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>ACERCA DEL DESAROLLADOR</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-md-12">
                  <div id="myCarousel" class="carousel slide cutomer_Carousel " data-ride="carousel">
                     <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ol>
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="container">
                              <div class="carousel-caption ">
                                 <div class="cross_img">
                                    <figure><img src="/static/images/foto_mia.png" alt="foto_samuel" width="200" height="200"/></figure>
                                 </div>
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Samuel Eduardo Preciado Garzon</h4>
                                       <span>Estudiante de Ingenieria de Sistemas de la Universidad Catolica de Colombia</span>
                                       <p>Redes sociales:</p>
                                       <figure><img src="/static/images/github.png" alt="Github" width="30" height="30"/></figure>
                                       <a href="https://github.com/SamuelPreciado">Github</a>
                                       <figure><img src="/static/images/instagram.jpg" alt="Instagram" width="30" height="30"/></figure>
                                       <a href="https://www.instagram.com/samu.preciadoo">Instagram</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Informacion adicional</h4>
                                       <p>
                                          Este proyecto fue desarrollado como parte de una práctica en programación backend utilizando FastAPI, SQLModel y PostgreSQL.<br><br>
                                          Me apasiona la Ingenieria de Sistemas, el desarrollo de nuevos proyectos y aprender constantemente nuevas herramientas. Esta aplicación representa una simulación de un sistema de gestión para pilotos y carreras de Fórmula 1.
                                       </p>
                                       <p><strong>Tecnologías utilizadas:</strong> FastAPI, SQLModel, PostgreSQL, HTML, Render, Clever Cloud</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="container">
                              <div class="carousel-caption">
                                 <div class="our cross_layout">
                                    <div class="test_box">
                                       <h4>Otros metodos de contacto:</h4>
                                       <p>Correo institucional: sepreciado02@ucatolica.edu.co</p>
                                       <p>Correo personal: samupre262006@gmail.com</p>
                                       <p>Telefono: +57 3228250124</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
                     </a>
                     <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="nombre_universidad">
                        <h3> <strong class="multi color_chang"> Universidad Catolica de Colombia</strong><br>
                        </h3>
                     </div>
                     <figure><img src="/static/images/logo_universidad.png" alt="foto_universidad" width="360" height="360"/></figure>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p>© 2025 Proyecto Integrador. Hecho por Samuel Preciado</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/js/jquery.min.js"></script>
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.bundle.min.js"></script>
      <script src="/static/js/jquery-3.0.0.min.js"></script>
      <script src="/static/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/js/custom.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
</html>

