<head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>F1 API</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/images/f1_logo.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">

      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="index.html"><img src="/static/images/f1_logo.png" alt="#" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                 <a class="nav-link" href="index.html"> Inicio  </a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="diseño.html">Diseño</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="planeacion.html">Planeacion</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                  </div>
               </div>
            </div>
         </div>
      </header>
<section class="about">
   <div class="container">
      <div class="row">
         <!-- Diagrama de casos de uso -->
         <div class="col-md-6">
            <div class="titlepage">
               <h2>Diagrama de Casos de Uso</h2>
               <p>Este diagrama representa las funcionalidades principales del sistema y los actores que interactúan con él, como usuarios y operador/desarollador.</p>
               <a href="https://lucid.app/lucidchart/395f5d2a-5e1b-4123-9970-09fc5c596cc9/edit?viewport_loc=-780%2C-953%2C4016%2C1708%2C0_0&invitationId=inv_413a2031-dceb-4941-b264-de30cad7f5e1" target="_blank">Diagrama de clases</a>.
            </div>
         </div>

         <!-- Objetivos y fuentes de datos -->
         <div class="col-md-6">
            <div class="titlepage">
               <h2>Objetivo del Proyecto</h2>
               <p>Desarrollar una API con FastAPI que permita realizar operaciones CRUD (Crear, Leer, Actualizar y Eliminar) sobre modelos de un campeonato de Fórmula 1: pilotos y carreras. El sistema debe almacenar la información en la base de datos para así garantizar persistencia.</p>
            </div>
            <div class="titlepage">
               <h2>Fuentes de Datos</h2>
               <p>Los datos utilizados para alimentar la aplicación provienen de fuentes públicas, estas son:</p>
               <ul>
                  <a href="https://fastapi.tiangolo.com/  " target="_blank">FastApi documentation</a>.<br>
                   <a href="https://sqlmodel.tiangolo.com/  " target="_blank">SQLModel Documentation</a>.<br>
                  <a href="https://www.clever-cloud.com/doc/databases/postgresql/ " target="_blank"> Clever Cloud PostgreSQL Docs</a>.<br>
                  <a href="https://www.kaggle.com/ " target="_blank"> Kaggle</a>.<br>
                  <a href="https://www.formula1.com/ " target="_blank"> Formula 1</a>.<br>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>
